@model IEnumerable<Informational_system_Lib.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Добави нов</a>
</p>
<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Enter book name or author..." value="@ViewData["Getbooksdetails"]" name="BooksSearch" style="width:500px;" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-action="Index">Get All Books</a>
    </p>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zaglavie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avtor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Janr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kolichestvo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Zaglavie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avtor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Janr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolichestvo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdBook">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdBook">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdBook">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
